package templates

import "beholder-api/internal/application/models"

templ Home(envs *[]*models.Environment){
    @Wrapper() {
        <div class="flex flex-row gap-2">
            @Sidebar(envs){

            }
        </div>
    }
}