@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: 240 21% 15%;
      --foreground: 226 64% 88%;
      --muted: 240 12% 19%;
      --muted-foreground: 240 12% 69%;
      --popover: 240 21% 12%;
      --popover-foreground: 226 64% 98%;
      --card: 240 21% 13%;
      --card-foreground: 226 64% 93%;
      --border: 240 11% 20%;
      --input: 240 11% 23%;
      --primary: 267 84% 81%;
      --primary-foreground: 267 84% 21%;
      --secondary: 267 30% 25%;
      --secondary-foreground: 267 30% 85%;
      --accent: 240 21% 30%;
      --accent-foreground: 240 21% 90%;
      --destructive: 8 96% 56%;
      --destructive-foreground: 0 0% 100%;
      --ring: 267 84% 81%;
      --chart-1: 267 84% 81%;
      --chart-2: 267 30% 25%;
      --chart-3: 240 21% 30%;
      --chart-4: 267 30% 28%;
      --chart-5: 267 87% 81%;
      --radius: 0.75rem;
    }
  
    .dark {
      --background: 240 21% 15%;
      --foreground: 226 64% 88%;
      --muted: 240 12% 19%;
      --muted-foreground: 240 12% 69%;
      --popover: 240 21% 12%;
      --popover-foreground: 226 64% 98%;
      --card: 240 21% 13%;
      --card-foreground: 226 64% 93%;
      --border: 240 11% 20%;
      --input: 240 11% 23%;
      --primary: 267 84% 81%;
      --primary-foreground: 267 84% 21%;
      --secondary: 267 30% 25%;
      --secondary-foreground: 267 30% 85%;
      --accent: 240 21% 30%;
      --accent-foreground: 240 21% 90%;
      --destructive: 8 96% 56%;
      --destructive-foreground: 0 0% 100%;
      --ring: 267 84% 81%;
      --chart-1: 267 84% 81%;
      --chart-2: 267 30% 25%;
      --chart-3: 240 21% 30%;
      --chart-4: 267 30% 28%;
      --chart-5: 267 87% 81%;
    }
  }
  